@import url("https://fonts.googleapis.com/css2?family=Bodoni&display=swap");

:root {
  --color-red: #fe2b2c;
  --color-grey: #242525;
  --color-light-grey: #d0d0d0;
  --color-white: #fff;

  /* --font-big: clamp(2rem, 1.525rem + 3.3vw, 5rem); */
  /* --font-headline: clamp(1rem, 1rem + 1.5vw, 3rem); */
  /* --font-normal: clamp(1rem, 0.8rem + 0.2vw, 2.5rem); */
  /* --font-small: clamp(0.8rem, 1vw, 1rem); */

  --font-big: min(5.277vw, 6.33rem);
  --font-headline: min(4.1vh, 3.5rem);
  --font-normal: min(2.4vh, 2.8rem);
  --font-small: min(0.8vw, 1rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bodoni", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

body {
  overflow: hidden;
  color: white;
}

.container {
  display: flex;
  background-color: var(--color-grey);
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #242525 20%,
      #242525 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #242525 20%,
        #242525 80%,
        transparent 80%,
        transparent
      )
      10px 10px,
    linear-gradient(#373737 0.8px, transparent 0.8px) 0 -0.4px,
    linear-gradient(90deg, #373737 0.8px, #242525 0.8px) -0.4px 0;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

.left-banner {
  position: relative;
}

.left-banner .overlay-text {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
  color: var(--color-white);
  font-size: var(--font-big);
  font-style: italic;
}

.left-banner img {
  max-height: 100vh;
  max-width: 50vw;
  box-shadow: 10px 0 20px black;
}

.right-banner {
  /* text-align: center; */
  margin: auto;
}

.right-banner .details {
  max-height: 100vh;
  position: relative;
  margin: auto 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details .headline {
  margin: 0;
  margin-bottom: 5.3vh;
  font-size: var(--font-headline);
}

.headline .highlight {
  color: var(--color-red);
  font-style: italic;
}

form div {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: 1.5rem 0;
}

form label {
  font-size: var(--font-normal);
  color: var(--color-light-grey);
  margin: 0 0 12px;
}

form .input-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.input-box input {
  flex-grow: 1;
  height: 5vh;
  padding: 0px 10px;
  background: transparent;
  color: white;
  border-radius: 16px;
  border: 1px solid var(--color-light-grey);
}

.input-box img {
  height: 3.5vh;
  visibility: hidden;
}

button {
  width: 12.7vw;
  height: 5vh;
  margin: 3.9vh 0;
  font-size: var(--font-normal);
  color: var(--color-red);
  border-radius: 16px;
  border-color: var(--color-red);
  background: transparent;
}

.sign-in {
  font-size: var(--font-normal);
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem;
  font-weight: 100;
  font-size: var(--font-small);
}

a {
  color: var(--color-white);
}
